# Hangout service environment variables
ENV=
APP_NAME=
APP_PORT=

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT Secret Key
JWT_SECRET=
# JWT Expiration time in hours
JWT_EXPIRATION_HOURS=


# gRPC Client Configuration (File Service)
FILE_SERVICE_URL=
GRPC_MTLS_ENABLED=true
GRPC_MTLS_CERT_FILE=/app/certs/mtls/hangout-client.crt
GRPC_MTLS_KEY_FILE=/app/certs/mtls/hangout-client.key
GRPC_MTLS_CA_FILE=/app/certs/mtls/ca.crt

# Otel configuration
OTEL_SERVICE_NAME=
OTEL_SERVICE_VERSION=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
OTEL_TRACE_SAMPLE_RATE=
OTEL_USE_STDOUT=