basePath: /rp-api/hangout-service
definitions:
  dto.ActivityDetailResponse:
    properties:
      created_at:
        type: string
      hangout_count:
        type: integer
      id:
        type: string
      name:
        type: string
    type: object
  dto.ActivityListItemResponse:
    properties:
      hangout_count:
        type: integer
      id:
        type: string
      name:
        type: string
    type: object
  dto.ActivityTagResponse:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
  dto.CreateActivityRequest:
    properties:
      name:
        maxLength: 255
        minLength: 1
        type: string
    required:
    - name
    type: object
  dto.CreateHangoutRequest:
    properties:
      activity_ids:
        items:
          type: string
        type: array
      date:
        type: string
      description:
        type: string
      status:
        allOf:
        - $ref: '#/definitions/enums.HangoutStatus'
        enum:
        - PLANNING
        - CONFIRMED
        - EXECUTED
        - CANCELLED
      title:
        type: string
    required:
    - title
    type: object
  dto.CursorPagination:
    properties:
      after_id:
        type: string
      limit:
        type: integer
      sort_by:
        type: string
      sort_dir:
        type: string
    type: object
  dto.HangoutDetailResponse:
    properties:
      activities:
        items:
          $ref: '#/definitions/dto.ActivityTagResponse'
        type: array
      created_at:
        type: string
      date:
        type: string
      description:
        type: string
      id:
        type: string
      status:
        $ref: '#/definitions/enums.HangoutStatus'
      title:
        type: string
    type: object
  dto.HangoutListItemResponse:
    properties:
      created_at:
        type: string
      date:
        type: string
      id:
        type: string
      status:
        $ref: '#/definitions/enums.HangoutStatus'
      title:
        type: string
    type: object
  dto.PaginatedHangouts:
    properties:
      data:
        items:
          $ref: '#/definitions/dto.HangoutListItemResponse'
        type: array
      has_more:
        type: boolean
      next_cursor:
        type: string
    type: object
  dto.SignInRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  dto.SignInResponse:
    properties:
      token:
        type: string
    type: object
  dto.SignUpRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
    required:
    - email
    - name
    - password
    type: object
  dto.UpdateActivityRequest:
    properties:
      name:
        maxLength: 255
        minLength: 1
        type: string
    required:
    - name
    type: object
  dto.UpdateHangoutRequest:
    properties:
      activities:
        items:
          type: string
        type: array
      date:
        type: string
      description:
        type: string
      status:
        allOf:
        - $ref: '#/definitions/enums.HangoutStatus'
        enum:
        - PLANNING
        - CONFIRMED
        - EXECUTED
        - CANCELLED
      title:
        type: string
    required:
    - title
    type: object
  dto.UserResponse:
    properties:
      email:
        type: string
      id:
        type: string
      name:
        type: string
    type: object
  enums.HangoutStatus:
    enum:
    - PLANNING
    - CONFIRMED
    - EXECUTED
    - CANCELLED
    type: string
    x-enum-varnames:
    - StatusPlanning
    - StatusConfirmed
    - StatusExecuted
    - StatusCancelled
  response.StandardResponse:
    properties:
      data: {}
      message:
        type: string
      status:
        type: string
    type: object
host: localhost
info:
  contact: {}
  description: API documentation for the Hangout Planner service
  title: Hangout Planner API
  version: "1.0"
paths:
  /activities/:
    get:
      description: Retrieves all activities for the authenticated user.
      produces:
      - application/json
      responses:
        "200":
          description: Activities fetched successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/dto.ActivityListItemResponse'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Get All Activities
      tags:
      - Activities
    post:
      consumes:
      - application/json
      description: Creates a new activity for the authenticated user.
      parameters:
      - description: Activity creation data
        in: body
        name: activity
        required: true
        schema:
          $ref: '#/definitions/dto.CreateActivityRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Activity created successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.ActivityDetailResponse'
              type: object
        "400":
          description: Invalid request payload
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Create Activity
      tags:
      - Activities
  /activities/{activity_id}:
    delete:
      description: Deletes an existing activity for the authenticated user.
      parameters:
      - description: Activity ID
        in: path
        name: activity_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Activity deleted successfully
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "400":
          description: Invalid activity ID
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "404":
          description: resource not found
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Delete Activity
      tags:
      - Activities
    get:
      description: Retrieves an activity by its ID for the authenticated user.
      parameters:
      - description: Activity ID
        in: path
        name: activity_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Activity fetched successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.ActivityDetailResponse'
              type: object
        "400":
          description: Invalid activity ID
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Get Activity by ID
      tags:
      - Activities
    put:
      consumes:
      - application/json
      description: Updates an existing activity for the authenticated user.
      parameters:
      - description: Activity ID
        in: path
        name: activity_id
        required: true
        type: string
      - description: Activity update data
        in: body
        name: activity
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateActivityRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Activity updated successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.ActivityDetailResponse'
              type: object
        "400":
          description: Invalid request payload
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "404":
          description: resource not found
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Update Activity
      tags:
      - Activities
  /auth/signin:
    post:
      consumes:
      - application/json
      description: Authenticate a user and return a JWT token
      parameters:
      - description: User sign in data
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/dto.SignInRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.SignInResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      summary: Sign in
      tags:
      - auth
  /auth/signup:
    post:
      consumes:
      - application/json
      description: Register a new user
      parameters:
      - description: User sign up data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.SignUpRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.UserResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      summary: Sign up
      tags:
      - auth
  /hangouts/:
    post:
      consumes:
      - application/json
      description: Creates a new hangout for the authenticated user.
      parameters:
      - description: Hangout creation data
        in: body
        name: hangout
        required: true
        schema:
          $ref: '#/definitions/dto.CreateHangoutRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Hangout created successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.HangoutDetailResponse'
              type: object
        "400":
          description: Invalid request payload
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Create Hangout
      tags:
      - Hangouts
  /hangouts/{hangout_id}:
    delete:
      consumes:
      - application/json
      description: Deletes a hangout by its ID for the authenticated user.
      parameters:
      - description: Hangout ID
        in: path
        name: hangout_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Hangout deleted successfully
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "400":
          description: Invalid Hangout ID
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "404":
          description: resource not found
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Delete Hangout
      tags:
      - Hangouts
    get:
      consumes:
      - application/json
      description: Retrieves a hangout by its ID for the authenticated user.
      parameters:
      - description: Hangout ID
        in: path
        name: hangout_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Hangout retrieved successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.HangoutDetailResponse'
              type: object
        "400":
          description: Invalid Hangout ID
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "404":
          description: resource not found
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Get Hangout by ID
      tags:
      - Hangouts
    put:
      consumes:
      - application/json
      description: Updates an existing hangout for the authenticated user.
      parameters:
      - description: Hangout ID
        in: path
        name: hangout_id
        required: true
        type: string
      - description: Hangout update data
        in: body
        name: hangout
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateHangoutRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Hangout updated successfully
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.HangoutDetailResponse'
              type: object
        "400":
          description: Invalid request payload
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "404":
          description: resource not found
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Update Hangout
      tags:
      - Hangouts
  /hangouts/list:
    post:
      consumes:
      - application/json
      description: Retrieves hangouts for the authenticated user with cursor-based
        pagination.
      parameters:
      - description: Pagination parameters (limit, after_id, sort_by, sort_dir)
        in: body
        name: pagination
        required: true
        schema:
          $ref: '#/definitions/dto.CursorPagination'
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved hangouts
          schema:
            allOf:
            - $ref: '#/definitions/response.StandardResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.PaginatedHangouts'
              type: object
        "400":
          description: Invalid pagination parameters
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.StandardResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.StandardResponse'
      security:
      - BearerAuth: []
      summary: Get Hangouts by User ID
      tags:
      - Hangouts
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and a JWT.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
